@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'assets/sass/mixin.scss';

.B2wCpqSecurityManagerRoot {
    font-weight: $font-normal-weight-normal;
    font-family: $font-family-name;
    font-stretch: normal;
    font-style: normal;

    * {
        font-variant-numeric: lining-nums !important;
    }

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
}
